<div class="container py-4">
  <div class="row">
    <div class="col-md-4 mb-3">
      <h5>Race Thru The Redwoods</h5>
      <address class="mb-0">
        <span class="footer-org-name">Felton Business &amp; Community Association</span><br>
        P.O. Box 6<br>
        Felton, CA 95018
      </address>
      <a href="mailto:info@racethrutheredwoods.com">info@racethrutheredwoods.com</a>
    </div>
    <div class="col-md-4 mb-3">
      <h5>Get Involved</h5>
      <p class="mb-1"><a href="sponsors.html#become-a-sponsor">Become a Sponsor</a></p>
      <p class="mb-0"><a href="contact.html#volunteers">Volunteer with us</a></p>
    </div>
    <div class="col-md-4 mb-3">
      <h5>Connect</h5>
      <p class="mb-0"><a href="https://www.facebook.com/racethrutheredwoods" target="_blank">Facebook</a></p>
    </div>
  </div>
  <hr>
  <p class="text-center mb-0">
    &copy; 2026 Felton Business &amp; Community Association &middot;
    <a href="refund_policy.html">Refund Policy</a>
  </p>
</div>
