<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">
    <img src="images/2026Logo.png" class="navbar-logo" alt="Race Thru The Redwoods logo" />
  </a>

  <div class="d-flex align-items-center">
    <!-- Register closed for the season, reopens next year
    <a class="btn btn-primary d-lg-none mr-2" href="https://runsignup.com/Race/Events/CA/Felton/RaceThrutheRedwoods" target="_blank">Register<svg class="external-link-icon" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a>
    -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="course_info.html">Course Info</a></li>
      <li class="nav-item"><a class="nav-link" href="directions.html">Directions</a></li>
      <li class="nav-item"><a class="nav-link" href="sponsors.html">Sponsors</a></li>
      <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="contact.html#volunteers">Volunteers</a></li>
    </ul>
    <!-- Register closed for the season, reopens next year
    <form class="form-inline my-2 my-lg-0 d-none d-lg-flex">
      <a class="btn btn-primary" href="https://runsignup.com/Race/Events/CA/Felton/RaceThrutheRedwoods" target="_blank">Register<svg class="external-link-icon" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></a>
    </form>
    -->
  </div>
</nav>
